* {
  user-drag: none;
    -webkit-user-drag: none;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

.foto-calon:hover {
    cursor: pointer;
}

.dipilih {
	transform : scale(1.2);
	transition : .5s;
}